@media (max-width: 767px) {
    .header {
        text-align: center;
        &__contacts {
            text-align: center;
        }
    }
    .hero {
        padding: 50px 0;
        &__title {
            font-size: 24px;
            line-height: 1.6;
            &--margin {
                margin-bottom: 20px;
            }
        }
        &__description {
            font-size: 16px;
            line-height: 1.6;
        }
        &__order-button {
            padding: 20px 40px;
        }
    }
    .reviews {
        padding: 50px 0 0;
        &-slider {
            &--margin {
                margin: 30px 0 0;
            }
        }
    }
    .review {
        &__image {
            &--margin {
                margin-right: 0;
            }
        }
        &__text {
            margin-left: auto;
            margin-right: auto;
            &--margin {
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
    }
    .advantages {
        padding: 20px 0 50px;
    }
    .goods {
        padding: 50px 0;
        &-card {
            &__colors {
                max-width: 200px;
                margin: auto;
            }
            &__choose {
                &--margin {
                    margin: 20px auto;
                }
            }
        }
    }
    .offer {
        padding: 30px;
        &__title {
            font-size: 22px;
        }
        &__link {
            display: block;
            font-size: 22px;
        }
        &__phone {
            font-size: 26px;
        }
    }
    .footer {
        &__top {
            padding: 30px;
        }
        &__info {
            text-align: left;
        }
        &__menu {
            &--margin {
                margin-bottom: 15px;
            }
        }
        &__bottom {
            padding: 30px;
            text-align: left;
        }
        &__designer {
            text-align: left;
        }
    }
}
@media (max-width: 576px) {
    .offer {
        text-align: left;
        &__title {
            text-align: left;
        }
    }
}