.goods {
    padding: 100px 0;
    &__title {
        &--red {
            color: $secondary-red-color;
        }
    }    
    &__description {
        font-size: 18px;
        text-align: center;
    }
    &-card {
        text-align: center;
        border: 3px solid $primary-white-color;
        padding: 33px 35px 30px;
        &--margin {
            margin-top: 27px;
        }
        &__title {
            text-transform: uppercase;
            margin: 0;
            &--margin {
                margin-top: 23px;
            }
        }
        &__choose {
            display: block;
            font-size: 14px;
            &--margin {
                margin: 20px 0 7px;
            }
        }
        &__label {
            width: 20px;
            height: 20px;
            cursor: pointer;
            &-white {
                background-color: $primary-white-color;
            }
            &-biege {
                background-color: #f7b496;
            }
            &-pink {
                background-color: #ed366e;
            }
            &-red {
                background-color: #ff0000;
            }
            &-blue {
                background-color: #12129d;
            }
        }
        &__color-input {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            z-index: -9;
        }
        &__counter {
            &-button {
                width: 40px;
                height: 40px;
                font-size: 16px;
                cursor: pointer;
                color: $primary-white-color;
                background-color: #292929;
                border: none;
            }
            &-input {
                width: 40px;
                height: 40px;
                text-align: center;
                color: $primary-white-color;
                border: 2px solid $primary-white-color;
                background-color: #292929;
                &--margin {
                    margin: 0 15px;
                }
            }
        }
        &__button-buy {
            font-size: 14px;
            width: 100%;
            padding: 16px 10px 13px;
            &--margin {
                margin-top: 36px;
            }
        }
    }
    &__more {
        display: block;
        font-size: 14px;
        color: #f24841;
        text-align: center;
        &--margin {
            margin-top: 39px;
        }
        &::after {
            display: inline-block;
            content: '';
            width: 10px;
            height: 4px;
            background: url('../img/caret.svg') no-repeat center;
            margin-left: 14px;
            vertical-align: middle;
        }
    }
}